.box{
    border:1px solid;
    padding:15px;
    text-align: center;
}

.box:hover{
    background-color: orangered;
    color:white;
    border-color: black;
}

.jumbotron{
    padding:6rem 1rem;
}

.inner-style{
    font-size:13px
}

